function Main.main 4
call Stats.init 0
pop temp 0
push constant 10
call Array.new 1
pop local 3
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 10
lt
not
if-goto WHILE_END0
push local 1
push local 3
add
push local 1
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 3
push constant 10
call Stats.sum 2
pop local 0
push local 3
push constant 10
call Stats.mean 2
pop local 2
push local 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
push constant 2
call Float.print 2
pop temp 0
push constant 0
return
